.feynman__title {
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15;
    text-align: center;
    background-color: transparent;
    background-image: none;
    width: 648px;
    height: auto;
    margin: 0;
    margin-top: 100px;
  }