.khan__buy-link {
    margin: 0;
    padding: 0;
    height: fit-content;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
    color: #2f80ed;
    text-decoration: none;
    transition: opacity 0.1s linear;  

  }
  
  .khan__buy-link:hover {
    opacity: 50%;
  }
