.header__subtitle  {
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    width: 388px;
    min-height: 0;
    height: auto;
    position: absolute;
    margin: 0;
    left: 64px;
    bottom: 30px;
    background-color: transparent;
    z-index: 2;
    display: block;
  }